


.grid {
	width: 900px;
	height: 900px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 100px;
	height: 100px;
}

.invader {
	background: url(coffee.png);
	background-size: cover;
	border-radius: 10px;
}

.shooter {
	background: url(ste1.png);
	background-position: center;
	background-repeat: no-repeat;
}

.laser {
	background-color: orange;
	
	
	
}

.fire{
   max-width: 10px;
   background-color: orange;
   margin: auto;
}


.boom {
	background-color: red;
}

.ste-l{
	background: url(ste2.png);
	background-position: center;
	background-repeat: no-repeat;
}
.ste-xl{
	background: url(ste3.png);
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-arrow-left{
	font-size: 100px;

}

.fa-arrow-right{
	font-size: 100px;
	
}

.fa-circle{
	font-size: 100px;
	
}

.controls {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-top: 30px;
}

.controls-none {
	display: none;
}

.video-container{
	width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
	display: none;
}

.game-none{
	display: none;
}

.video-flex{
	display: flex;
}

.controller {
	width: 300px;
	margin: 220px auto;
	top: 30%;
	position: relative;
	transform: scale(1.5);

}




.front-left {
	width: 137px;
	height: 137px;
	background-color: transparent;
	border-radius: 50%;
	z-index: 3;
	float: left;
	position: absolute;
	top: -16px;
	left: -55px;
	box-shadow: inset 0px 2px 1px 1px rgba(0, 0, 0, 0.4), inset 0px -2px 1px 1px rgba(255, 255, 255, 0.9);
	transform: scale(1.5);
}



.cross {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 110px;
	height: 90px;

}






.horizontal {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 90px;
	height: 30px;
	background-color: #545454;
	z-index: 2;
	border-radius: 3px;
	box-shadow: inset 0px 2px 1px 1px rgba(255, 255, 255, 0.2);
}



.arrowlf {
	right: 4px;
	top: 6px;
	position: absolute;
	width: 0px;
	height: 0px;
	border-left: 15px solid black;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	opacity: 0.2;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.61);
}

.arrowrh {
	left: 5px;
	top: 6px;
	position: absolute;
	width: 0px;
	height: 0px;
	border-right: 15px solid black;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;	
	opacity: 0.2;
	box-shadow: inset 0px 7px 1px 2px rgba(255, 255, 255, 0.91);
}



.a {
	float: right;
	position: absolute;
	right: -14px;
	top: 5px;
	z-index: 4;
	background: linear-gradient(to top, #ab0c06 0%,#ab0c06 99%); /* W3C */
}



.btn-round:before {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 7px;
	border-radius: 50%;
	background-color: #FFFFFF;
	opacity: 0.08;
	z-index: 4;
}

.btn-round {
	width: 90px;
	height: 90px;
	
	border-radius: 50%;
	border: 2px rgba(0, 0, 0, 0.51) solid;
	box-shadow: inset 0px 1px 1px 0px #FBFBFB, 0px 2px 3px 1px rgba(0, 0, 0, 0.51);
	cursor: pointer;
}

.btn-round:active {
	border: 1px rgba(0, 0, 0, 0.5) solid;
	box-shadow: inset 0px 0px 1px 0px #FBFBFB, 0px 1px 1px 0px rgba(0, 0, 0, 0.21);
}


